In [2]:
import pandas as pd
import numpy as np

from pathlib import Path

In [3]:
# paths to files
biomarker_data = Path("__file__").resolve().parents[1] / 'data' / 'master_biomarkers.csv'

In [4]:
# load baseline data
df = pd.read_csv(biomarker_data, index_col=0, header=0)

In [5]:
# set thresholds and calculate 5% margin

In [6]:
# CSF biomarkers

ab42_threshold = 980
ab42_margin = (5*ab42_threshold)/100
ab42_upper = ab42_threshold+ab42_margin
ab42_lower = ab42_threshold-ab42_margin

ptau_threshold = 23
ptau_margin = (5*ptau_threshold)/100
ptau_upper = ptau_threshold+ptau_margin
ptau_lower = ptau_threshold-ptau_margin

In [7]:
# PET biomarkers

In [9]:
fbb_threshold = 1.08
fbb_margin = (5*fbb_threshold)/100
fbb_upper = fbb_threshold+fbb_margin
fbb_lower = fbb_threshold-fbb_margin

av45_threshold = 1.08
av45_margin = (5*av45_threshold)/100
av45_upper = av45_threshold+av45_margin
av45_lower = av45_threshold-av45_margin

tau_threshold = 1.37
tau_margin = (5*tau_threshold)/100
tau_upper = tau_threshold+tau_margin
tau_lower = tau_threshold-tau_margin

In [11]:
len (df)

612

In [13]:
df.index.nunique()

612

In [20]:
# drop participants who don't have any biomarker data
df_bio = df.dropna(subset=['ABETA','PTAU','AV45','FBB','META_TEMPORAL_SUVR'], how='all')
print ('N={} participants dropped due to no biomarker data.'.format(len(df)-len(df_bio)))

N=80 participants dropped due to no biomarker data.

In [ ]:
# replace some biomarker data which has been coded as > or <

df_bio.replace({'ABETA': {'>1700': 1701, '<200': 199}}, inplace=True)
df_bio.replace({'PTAU': {'<8': 7, '>120':121}}, inplace=True)
df_bio[['ABETA', 'PTAU']] = df_bio[['ABETA', 'PTAU']].apply(pd.to_numeric)

In [17]:
df_bio.groupby(['Research Group']).size()

Research Group
AD       51
CN      313
EMCI     50
LMCI     32
MCI      56
SMC      25
dtype: int64

In [19]:
df.head()

,Subject ID,Phase,Sex,Research Group,Visit,Study Date,Age,session,date_lower,date_upper,META_TEMPORAL_SUVR,META_TEMPORAL_SUVR_EXAMDATE,ABETA,ABETA_EXAMDATE,PTAU,PTAU_EXAMDATE,AV45,AV45_EXAMDATE,FBB,FBB_EXAMDATE
RID,,,,,,,,,,,,,,,,,,,,
21,011_S_0021,ADNI 3,F,CN,ADNI3 Initial Visit-Cont Pt,1/25/2018,84.9,2018-01-25,2017-01-25,2019-01-25,1.2700,2018-02-02,NaN,NaN,NaN,NaN,1.0376,2017-11-27,NaN,NaN
31,023_S_0031,ADNI 3,F,CN,ADNI3 Initial Visit-Cont Pt,4/17/2018,90.3,2018-04-17,2017-04-17,2019-04-17,1.1098,2018-04-24,NaN,2016-01-26,NaN,2016-01-26,1.5034,2018-04-17,NaN,NaN
56,067_S_0056,ADNI 3,F,CN,ADNI3 Year 1 Visit,1/10/2019,82.8,2019-01-10,2018-01-10,2020-01-10,1.2115,2019-01-10,NaN,2010-12-10,NaN,2010-12-10,0.9688,2019-12-03,NaN,NaN
59,067_S_0059,ADNI 3,F,CN,ADNI3 Initial Visit-Cont Pt,12/20/2017,83.0,2017-12-20,2016-12-20,2018-12-20,1.2017,2017-12-12,NaN,2010-12-10,NaN,2010-12-10,0.9898,2017-12-12,NaN,NaN
69,100_S_0069,ADNI 2,M,CN,ADNI2 Year 2 Visit,1/28/2014,81.1,2014-01-28,2013-01-28,2015-01-28,NaN,2018-04-03,NaN,NaN,NaN,NaN,0.9592,2014-01-28,NaN,NaN